<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/navDash.ejs") %>

  <div class="details content">
    <h2><%= email.subject %></h2>
    <h2><%= email.date %></h2>
    <div class="content">
      <p><%= email.body %></p>
    </div>
    <a class="delete" data-doc="<%= email._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
  </div>
  <br>
     <h3>Group Id: <%= email.groupId %> </h3>

  <%- include("./partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');
     var error = 0;
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/email/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log('You Must Be an Admin To Delete Threads'))
    });
    
  </script>
</body>
</html>